---
http_interactions:
- request:
    method: get
    uri: http://staging-exact-integration.posios.com/PosServer/rest/labour/employee
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - API_TOKEN_VALUE
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"companyId": 14211, "userId": 23295, "visible": false, "socialSecurityNumber": "", "firstName": "Manager", "lastName": "no1"}, {"companyId": 14211, "userId": 23296, "visible": true, "socialSecurityNumber": "", "firstName": "Employee", "lastName": "no1" }, {"companyId": 14211, "userId": 23839, "visible": true, "socialSecurityNumber": "", "firstName": "Employee", "lastName": "no2"}]'
  recorded_at: Fri, 04 Dec 2015 21:22:44 GMT
recorded_with: VCR 3.0.0
